// 默认值
$accentColor = #007bff                      // 主题颜色
// layout
$navbarHeight ?= 3.6rem
$navbarMobileHeight ?= 3.2rem
$navbarHorizontalPadding ?= 1.5rem
$navbarMobileHorizontalPadding ?= 1rem
$navbarVerticalPadding ?= 0.7rem
$navbarMobileVerticalPadding ?= 0.4rem
$sidebarWidth ?= 18rem
$mobileSidebarWidth ?= $sidebarWidth
$contentWidth ?= 72rem
$homePageWidth ?= 72rem

/* content class */
$contentClass ?= '.theme-default-content .content'
